.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
} 
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: rgb(31, 116, 219);
    color: #fff;
    text-align: center;
    padding: 1rem;

 }
header {
    background-color: rgb(31, 116, 219);
    color: #fff;
    text-align: center;
    padding: 1rem;
  }


.ourhaul img{
    width: 100%;
   max-width: 300px;
   margin-bottom: 1rem;
}
.haulwhy img{
    width: 100%;
   max-width: 300px;
   margin-bottom: 1rem;
}
.holding{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.haulwhy {
    width: 80%;
    margin: auto;
    padding: 2rem;
  }
